header{
	border:2px black solid;
	font-color:white;
}

body{

	font-color:white;

}

.box {   
    float: left;
    width: 200px;
    height: 200px;
    margin: 3px;
    border-width: 2px;
    border-style: solid;
}

.pic{
	background-image:url("image/playbutton.png");
	background-position: center;
}

.GI1{
    width: 200px;
    height: 300px;
    border:2px solid cyan;
    margin:1px;
}
.GI2{
    width: 200px;
    height: 300px;
    border:2px solid cyan;
    margin:4px;
}
.GI3{
    width: 200px;
    height: 300px;
    border:2px solid cyan;
}