header{
	font-color:white;
    margin-right: left;

}

body{

	font-color:white;

}

.box {   
    float: left;
    width: 380px;
    height: 380px;
    border-width: 2px;
    border-style: solid;
    background-image:url("images/playbutton.png");
    background-position:center;
}
.jumbotron{
    height: 750px;
    width: auto;
}
.container-fluid{
    height: 100px;
}
.navpush{
    margin-top: 25px
}
.font{
    font-size: 25px
}
.backop{
    background-image:url("images/.jpg");
    float: left;
    width: 380px;
    height: 380px;
    border-width: 2px;
    border-style: solid;
}